.password-input {
    box-sizing: border-box;
    padding: 10px 12px;
    background-repeat: no-repeat;
    background-position: 95% 50%;
    background-size: 20px 16px;
}

.password-input--close {
    background-image: url("../../img/password.svg");
}

.password-input--open {
    background-image: url("../../img/password-open.svg");
}