.question {
    position: absolute;
    left: calc(50% - 144px);
    width: 256px;
    margin: auto;
    padding: 28px 16px 32px;
    background-color: #ffffff;
    border-radius: 8px;
}

.question--first {
    min-height: 160px;
}

.question--second {
    min-height: 184px;
}

.question--third {
    min-height: 160px;
}

.question__text {
    font-family: 'Roboto', 'Arial', sans-serif;
    color: #343434;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
}

.question__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    margin-top: 16px;
}

@media (min-width: 940px) {
    .question {
        top: calc(50% - 170px);
        left: calc(50% - 230px);
        width: 302px;
        margin: auto;
        padding: 40px 78px 36px;
        background-color: #ffffff;
        border-radius: 8px;
    }

    .question--first {
        min-height: 164px;
    }
    
    .question--second {
        min-height: 164px;
    }
    
    .question--third {
        min-height: 140px;
    }

    .question__wrapper {
        gap: 20px;
        margin-top: 20px;
    }

}