.sticky {
    position: sticky;
    bottom: 16px;
}


.sticky--arrow {
    left: calc(50% - 12px);
}

.sticky--button {
    width: 288px;
    height: 48px;
    left: calc(50% - 144px);
    margin: 0;
    padding: 0;
    background-color: #FFC700;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    border: none;
    border-radius: 25px;
    font-family: Roboto, Arial, sans-serif;
    color: #333333;
    font-size: 20px;
    line-height: 48px;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
}